@model BilgeIK.WEBUI.ViewModels.SalaryBonusVM

@{
    ViewData["Title"] = "Ek Maaş Ekleyin";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card  mb-0 pb-2">
            <div class="card-body mb-0 pb-0">
                <form asp-action="AddSalaryBonus" class="mb-0 pb-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Bonus" class="control-label"></label>
                                <input asp-for="Bonus" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="@Model.Status" class="form-control js-example-basic-single" asp-items="Html.GetEnumSelectList<BilgeIK.CORE.Entity.Enums.Status>()"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12 text-center  mb-0 pb-0">
                            <div class="form-group  mb-0 pb-0">
                                <input asp-for="UserId" type="hidden" class="form-control" />
                                <input asp-for="ApproverUserId" type="hidden" class="form-control" />
                                <input type="submit" value="Kaydet" class="btn btn-raised btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
