<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yetkisiz Erişim - Bilge IK</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400|Roboto:300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/pages/session/error.min.css">
    <link rel="stylesheet" href="~/assets/css/main.bundle.min.css">
</head>

<body>
    <div class="page-wrap height-100">
        <div class="app-error">
            <div class="fix d-flex align-items-center">
                <i class="material-icons mr-md text-warning">warning</i>
                <div class="error-text">
                    <h1 class="error-title font-weight-bold">403</h1>
                    <div class="error-subtitle">Forbidden!</div>
                </div>
            </div>
            <p>@ViewBag.message</p>
            <div class="error-action d-flex justify-content-around mt-xxl">
                <a type="button" class="btn btn-opacity btn-primary btn-sm mr-0" asp-action="Index" asp-controller="Home"> Anasayfaya Dön </a>
            </div>
        </div>
    </div>
</body>