@model BilgeIK.WEBUI.ViewModels.PassChangeVM

@{
    ViewData["Title"] = "Parola Değişikliği";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <h2 class="doc-section-title">Parola Değişikliği Formu</h2>
            <div class="card-body">
                <form asp-action="ChangePassword">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="PasswordNew" class="control-label"></label>
                                <input asp-for="PasswordNew" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="PasswordNew2" class="control-label"></label>
                                <input asp-for="PasswordNew2" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-raised btn-success"> Parolamı Değiştir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
