@model BilgeIK.WEBUI.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "Parola Yenileme";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="form-holder signin-2 px-xxl">
    <div class="d-flex flex-column align-items-center mt-lg mb-xxl">
        <img src="~/assets3/images/bilgeIK_logo.png" style="width:300px;">
        <span class="mb-md mt-lg mb-lg d-block">Parolanızı Kurtarmak için Formu Doldurunuz</span>
    </div>
    @if (ViewBag.status == "successfull")
    {

        <div class="row">
            <div class="col-lg-12 my-2">
                <div class="alert alert-success">
                    Parola sıfırlama linki e-posta adresinize başarıyla gönderildi!
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <div id="uyari"></div>
                <script>
                    ysYonlendir("uyari", "../../Home/Index", 10);
                </script>
            </div>
        </div>

    }
    else
    {
        <form asp-action="ResetPassword" method="post">
            <div class="row">
                <div class="col-md-12"><div asp-validation-summary="ModelOnly" class="text-danger"></div></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Parola Sıfırlama Linkini Gönder" class="btn btn-raised btn-raised-primary btn-block" />
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>Oturum Açma sayfasına <a asp-action="LogIn">geri dön.</a></p>
                </div>
            </div>
        </form>
    }

</div>

@section HeaderScripts {
    @{
        <script>
            function ysYonlendir(ID, adres, saniye) {
                if (saniye == 0) {
                    window.location.href = adres;
                    return;
                }
                document.getElementById(ID).innerHTML = saniye + " saniye sonra yönlendiriliyorsunuz.";
                saniye--;
                setTimeout(function () {
                    ysYonlendir(ID, adres, saniye);
                }, 1000);
            }
        </script>
    }
}
