@model BilgeIK.WEBUI.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "Parola Sıfırlama Doğrulaması";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="form-holder signin-2 px-xxl">
    <div class="d-flex flex-column align-items-center mt-lg mb-xxl">
        <img src="~/assets3/images/bilgeIK_logo.png" style="width:300px;">

        <span class="mb-md mt-lg mb-lg d-block">Yeni Parolanızı Giriniz</span>
    </div>
    @if (ViewBag.status == "success")
    {
        <div class="row">
            <div class="col-lg-12 my-2">
                <div class="alert alert-success">
                    Parolanızı başarıyla sıfırladınız!
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <div id="uyari"></div>
                <script>
                    ysYonlendir("uyari", "../../Auth/LogIn", 5);
                </script>
            </div>
        </div>

    }
    else
    {
        <form asp-action="ResetPasswordConfirm" method="post">
            <div class="row">
                <div class="col-md-12"><div asp-validation-summary="ModelOnly" class="text-danger"></div></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="PasswordNew" class="control-label"></label>
                        <input asp-for="PasswordNew" class="form-control" />
                        <span asp-validation-for="PasswordNew" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Gönder" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    }

</div>



