@model BilgeIK.WEBUI.ViewModels.LeaveVM

@{
    ViewData["Title"] = "İzin Düzenleme";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <h2 class="doc-section-title">İzin Talep Formu</h2>

            <div class="card-body">
                <form asp-action="EditLeave" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FromDate" class="control-label"></label>
                        <input asp-for="FromDate" id="FromDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ToDate" class="control-label"></label>
                        <input asp-for="ToDate" id="ToDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PlannedDay" class="control-label"></label>
                        <input asp-for="PlannedDay" id="PlannedDay" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <input asp-for="Notes" class="form-control" placeholder="Açıklama gerekliyse giriniz..." />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DefinitionId" class="control-label"></label>
                        <select asp-for="DefinitionId" class="form-control">
                            @foreach (Definition item in Model.Definition)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="hidden" asp-for="Id" /> 
                        <input type="submit" value="İzin Talebini Oluştur" class="btn btn-raised btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script>
    $(document).ready(function () {
        $('input[name="ToDate"]').change(function () {
            var fromDate = $('input[name="FromDate"]').val();
            var toDate = $('input[name="ToDate"]').val();
            if (toDate < fromDate) {
                alert("İzin bitiş tarihi, başlangıç tarihinden önce olmamalıdır!");
                $('input[name="ToDate"]').val('');
                $('input[name="PlannedDay"]').val('');
            } else {
                $('input[name="PlannedDay"]').val(DateCalculate(fromDate, toDate));
            }

        });
    });

    function DateCalculate(date1, date2) {
        var firstDate = new Date(date1);
        var secondDate = new Date(date2);
        var Diff = Math.abs(firstDate.getTime() - secondDate.getTime());
        var DiffSec = Math.round(Diff / 86400000) + 1; //+1 çünkü 1 günlük izin alındığında aynı gün izin başlar ve aynı gün biter.
        //İzin dönüşü başlama tarihi Sorumlu tarafından girilir.
        return DiffSec;
    }
    </script>

}
